body {
    margin: 0 ;
    
    background: url(bg/fruits.jpeg);
    background-position: top right;
    background-size: 100% auto;


    font-size: 0px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr{
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  border: 0;
  background-color: #e5e5e5;
}

.page {
  overflow: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(bg/background2.jpeg) center no-repeat;
   
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: black;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;

    background-color: blue;
}

.intro__suptitle {
    margin-bottom: 20px;

    
    font-size: 72px;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
.header.fixed {
  padding: 10px 0;
  background-color: #eb8b8d;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: red;
    
    }




/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: blue;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #962972;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #962972;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

.nav-toggle{
  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus{
  outline: 0;
}

.nav-toggle__item{
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;

position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;

transition: background .2s linear;
}

.nav__link.active .nav-toggle__item{
  background: none;

}


.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;

  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform .2s linear;
}

.nav-toggle__item:before{
  top: -8px;
}

.nav-toggle__item:after{
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 0;
}
.products{
    padding: 80px 0;
    
}

.section__suptitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size:24px;
    color: black;
  
}
.section__text{
    font-size: 16px;
    color: black;
    
}
.fieldset{
  padding-top: 40px;
  font-family:  sans-serif;
font-size: 24px;
color: black;
}

.nav__link2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    
    text-decoration: none;

    transition: color .1s linear;
}


.nav__link2:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1px;

    
    opacity: 0;

    position: relative;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}


.nav__link2:hover:after,
.nav__link2.active:after {
    opacity: 1;
}

.nav__link2.active {
    color: #fce38a;
}
.nav__link2.active .nav-toggle__item{
  background: none;

}
.nav__link2 {
    display: inline-block;
    vertical-align: top;
    padding: 0.2px 3px;

    border: 1px solid rgb(29, 128, 173);

    font-size: 14px;
    font-weight: 900;
    color: rgb(94, 6, 6);
    text-transform: none ;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.nav__link2:hover {
    background-color: rgb(29, 128, 173);
    color: yellow;
}